[Unit]
Description=pyzebra-test web server

[Service]
Type=simple
User=pyzebra
ExecStart=/bin/bash /usr/local/sbin/pyzebra-test.sh
Restart=always

[Install]
WantedBy=multi-user.target
